body{
	background: #feffff; /* Old browsers */
	background: -moz-linear-gradient(top, #feffff 52%, #ddf1f9 69%, #a0d8ef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(52%,#feffff), color-stop(69%,#ddf1f9), color-stop(100%,#a0d8ef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #feffff 52%,#ddf1f9 69%,#a0d8ef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #feffff 52%,#ddf1f9 69%,#a0d8ef 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #feffff 52%,#ddf1f9 69%,#a0d8ef 100%); /* IE10+ */
	background: linear-gradient(to bottom, #feffff 52%,#ddf1f9 69%,#a0d8ef 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 ); /* IE6-9 */
	height:100%;
}

.barra-lateral {
		float:right;
		font-size:20px;
		width:170px;
		padding:5px;
		margin-top:10px;
		
}

.barra-lateral a{
		text-decoration:none;
		color:black;
}
	